In [1]:
import pandas as pd

print('Imports complete.')

Imports complete.

In [2]:
# Technique from here: https://stackoverflow.com/questions/1628949/to-find-first-n-prime-numbers-in-python
def prime(i, primes):
    for prime in primes:
        if not (i == prime or i % prime):
            return False
    primes.add(i)
    return i

def historic(n):
    primes = set([2])
    i, p = 2, 0
    while True:
        if prime(i, primes):
            p += 1
            if p == n:
                return primes
        i += 1
def isPrime(n):
    import re
    # see http://tinyurl.com/3dbhjv
    return re.match(r'^1?$|^(11+?)\1+$', '1' * n) == None

In [3]:
primes = sorted(list(historic(10000)))
stride_width = 4

# Generate the dataset where p1 is a prime at n, p2 is a prime at n+1, 
#  p3 is a prime at n+2, p4 is a prime at n+3, etc for the entire stride length
rows = []
for i in range(len(primes)):
    if i+stride_width-1 >= len(primes):
        break
    
    dicti = {}
    
    for j in range(stride_width):
        dicti['p' + str(j+1)] = primes[i + j]
    rows.append(dicti)

In [4]:
print(rows[:4])

[{'p1': 2, 'p2': 3, 'p3': 5, 'p4': 7}, {'p1': 3, 'p2': 5, 'p3': 7, 'p4': 11}, {'p1': 5, 'p2': 7, 'p3': 11, 'p4': 13}, {'p1': 7, 'p2': 11, 'p3': 13, 'p4': 17}]

In [5]:
df = pd.DataFrame(rows)
df.head()

   p1  p2  p3  p4
0   2   3   5   7
1   3   5   7  11
2   5   7  11  13
3   7  11  13  17
4  11  13  17  19

In [6]:
df.to_csv('./primes.csv', index=False)

In [31]:
# This next section will make a dataset containing a product of two primes. 
#   The target number will be the smallest number of the two
import random

rows = []
for i in range(10000):
    dicti = {}
    
    p1 = random.choice(primes)
    p2 = random.choice(primes)
    dicti['product'] = p1*p2
    dicti['factor1'] = p1 if p1 > p2 else p2
    dicti['factor2'] = p2 if p1 > p2 else p1
    
    rows.append(dicti)

In [32]:
df = pd.DataFrame(rows)
df.head()

      product  factor1  factor2
0  1389337303    92003    15101
1     2546371    82141       31
2  2566395283    53917    47599
3   570318289    75629     7541
4  1836168689    71633    25633

In [33]:
df.to_csv('./primeproducts.csv', index=False)