In [1]:
import pandas as pd

from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

print('Imports complete.')

Imports complete.

## Experiment 1: Predict P<sub>n+1</sub>

In [2]:
df = pd.read_csv('./primes.csv')
df.head()

   p1  p2  p3  p4
0   2   3   5   7
1   3   5   7  11
2   5   7  11  13
3   7  11  13  17
4  11  13  17  19

In [3]:
X = df[['p1', 'p2', 'p3']]
y = df['p4']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [4]:
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.9999999973449787

## Experiment 2: Predict Prime Factors
### Predict the Missing Factor with the Product and one Factor

In [5]:
df = pd.read_csv('./primeproducts.csv')
df.head()

        product  factor1  factor2
0  410268272633   827803   495611
1     910569307   736111     1237
2  188687226577   597677   315701
3  618869482967   925721   668527
4  144614072093   422099   342607

In [6]:
X = df[['product', 'factor1']]
y = df['factor2']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [7]:
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.9994241405068762

In [8]:
X = df[['product', 'factor2']]
y = df['factor1']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [9]:
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.9886720146055098

### Predict the Lower Factor

In [10]:
p = df['product']
f1 = df['factor1']
f2 = df['factor2']

# make x a dataframe then add the column
X = pd.DataFrame()
X['product'] = p

y = f2

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [11]:
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.883269144895197

### Predict the Upper Factor

In [12]:
p = df['product']
f1 = df['factor1']
f2 = df['factor2']

# make x a dataframe then add the column
X = pd.DataFrame()
X['product'] = p

y = f1

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [13]:
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

-0.08576375170314998

### Predict both High and Low Factors
How does this work with models that only predict one number?  
First, we create a model that can effectively predict, given the product and a factor, the other factor. Then, we produce a model that predicts the values of the first factor

In [14]:
p = df['product']
f1 = df['factor1']
f2 = df['factor2']

# make x a dataframe then add the column
X = pd.DataFrame()
X['product'] = p
X['f1'] = f1

y = f2

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [15]:
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)
dt.score(X_test, y_test)

0.9994237137815002

Now we have to generate the predictions...

In [16]:
p = df['product']
f1 = df['factor1']
f2 = df['factor2']

# make x a dataframe then add the column
X1 = pd.DataFrame()
X1['product'] = p

y1 = f2

X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=0)

In [17]:
dt1 = DecisionTreeRegressor()
dt1.fit(X1_train, y1_train)
dt1.score(X1_test, y1_test)

0.883269144895197

In [18]:
X1_test.head()

           product
9394  360767286641
898    14717884451
2398  828205556699
5906  537156324889
2343  547965779143

In [19]:
X_test.head()

           product       f1
9394  360767286641  1161551
898    14717884451   798713
2398  828205556699  1140121
5906  537156324889  1178887
2343  547965779143  1138519

In [20]:
X_test['f1'] = dt1.predict(X1_test)
X_test.head()

<ipython-input-20-60576f29721c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['f1'] = dt1.predict(X1_test)

           product        f1
9394  360767286641  463453.0
898    14717884451   23557.0
2398  828205556699  696737.0
5906  537156324889  677681.0
2343  547965779143  691991.0

In [21]:
dt.score(X_test, y_test)

0.7328367723192675